sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"

notifications:
  email: false

install:
  - pip install -r requirements.txt

script:
  - nosetests --with-coverage

after_success:
  - coveralls