# Flask Application
flask
flask-restful
itsdangerous

# Data management
sqlalchemy
sqlalchemy-migrate
jsonschema
psycopg2

# DB Versioning
alembic

# Password management
flask-httpauth
passlib

# Testing
coverage
mock
coveralls

# Optional, used to build documentation
sphinx
sphinxcontrib-httpdomain
