# Flask Application
flask
flask-restful
itsdangerous

# Data management
sqlalchemy
sqlalchemy-migrate
jsonschema
psycopg2

# Password management
flask-httpauth
passlib

# Testing
coverage
mock
coveralls

# Documentation Building
sphinx
sphinxcontrib-httpdomain
sphinx-autobuild
